.nav{ 
height:110px;
background :orange;
}
.nav div{
display:inline-block;
position: absolute;
left:0;
padding:20px;
font size:25px;
color:white;
}
.nav ul{
position.absolute;
right:5px;
}
.nav ul li{
display: inline block;
}
.nav ul a{
color:white;
padding: 5px;
}